.tops{
  width:330px;
  height:370px;
  overflow:hidden;
  .tops-tit{
    width:330px;
    height:90px;
    float:left;

  }
  .tops-list{
    width:330px;
    height:245px;
    overflow:hidden;
    display:flex;
    justify-content: space-between;
    span:nth-child(3-n){
      color:#f0f;
    }
  }
}
